@model List<MobileShop.Models.GiaoDien>


<div class="container no-padding">

    <div class="col-xs-12 col-md-3 logo-holder">
        <!-- ============================================================= LOGO ============================================================= -->
        <div class="logo">
            <a href="@Url.Action("Index", "Home")">
                <img alt="logo" src="@Url.Content("~/images/")@Model[0].GiaTri" width="233" height="54" />
                <!--<object id="sp" type="image/svg+xml" data="~/template/assets/images/logo.svg" width="233" height="54"></object>-->
            </a>
        </div><!-- /.logo -->
        <!-- ============================================================= LOGO : END ============================================================= -->
    </div><!-- /.logo-holder -->
    <div class="col-xs-12 col-md-6 top-search-holder no-margin">
        <div class="contact-row">
            <div class="social-icons">
               
            </div><!-- /.social-icons -->
        </div><!-- /.contact-row -->
        <!-- ============================================================= SEARCH AREA ============================================================= -->
        <div class="search-area" style="margin: 24px 0 0 0!important;">
            @Html.Action("SearchForm", "Search")
        </div><!-- /.search-area -->
        <!-- ============================================================= SEARCH AREA : END ============================================================= -->
    </div><!-- /.top-search-holder -->
    <div class="col-xs-12 col-md-3 top-cart-row no-margin" style="padding: 26px 0 0 21px;">
        <div class="top-cart-row-container">
           
            <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->
            <div class="top-cart-holder dropdown animate-dropdown">

                <div class="basket">
                    @Html.Action("CartTitle", "Xuligiohang")
                </div><!-- /.basket -->
            </div><!-- /.top-cart-holder -->
        </div><!-- /.top-cart-row-container -->
        <!-- ============================================================= SHOPPING CART DROPDOWN : END ============================================================= -->
    </div><!-- /.top-cart-row -->
</div><!-- /.container -->
